<div class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-sm-first order-md-last order-lg-last">
        <div class="info-section-image">
          <img src="{{ section.settings.section_image1 | img_url: '500x' }}" alt="">
        </div>
      </div>
      <div class="col-md-5 order-sm-last order-md-first order-lg-first">
        <div class="info-section-text">
          <h1 class="info-section-title">{{ section.settings.section_title1 }}</h1>
          <h2 class="info-section-subtitle">{{ section.settings.section_subtitle1 }}</h2>
          <p>{{ section.settings.section_info1 }}</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-7 order-sm-last order-md-first order-lg-last">
        <div class="info-section-image">
          <img src="{{ section.settings.section_image2 | img_url: '500x' }}" alt="">
        </div>
      </div> 
      <div class="col-md-5 order-sm-last order-md-last order-lg-last">
        <div class="info-section-text second">
          <h1 class="info-section-title">{{ section.settings.section_title2 }}</h1>
          <h2 class="info-section-subtitle">{{ section.settings.section_subtitle2 }}</h2>
          <p>{{ section.settings.section_info2 }}</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-7 order-sm-first order-md-last order-lg-last">
        <div class="info-section-image">
          <img src="{{ section.settings.section_image3 | img_url: '500x' }}" alt="">
        </div>
      </div>
      <div class="col-md-5 order-sm-last order-md-first order-lg-first">
        <div class="info-section-text">
          <h1 class="info-section-title">{{ section.settings.section_title3 }}</h1>
          <h2 class="info-section-subtitle">{{ section.settings.section_subtitle3 }}</h2>
          <p>{{ section.settings.section_info3 }}</p>
        </div>
      </div>                                                    
    </div>
  </div>
</div>

{% schema %}

{
  "name": "About KENKO",
  "settings": [
        {
          "type": "text",
          "id": "section_title1",
          "label": "Title Section #1"
        }, 
        {
          "type": "text",
          "id": "section_subtitle1",
          "label": "Subtitle Section #1"
        }, 
        {
          "type": "textarea",
          "id": "section_info1",
          "label": "Section Info #1"
        }, 
        {
          "type": "image_picker",
          "id": "section_image1",
          "label": "Section Image #1"
        }, 
        {
          "type": "text",
          "id": "section_title2",
          "label": "Title Section #2"
        }, 
        {
          "type": "text",
          "id": "section_subtitle2",
          "label": "Subtitle Section #2"
        }, 
        {
          "type": "textarea",
          "id": "section_info2",
          "label": "Section Info #2"
        }, 
        {
          "type": "image_picker",
          "id": "section_image2",
          "label": "Section Image #2"
        }, 
        {
          "type": "text",
          "id": "section_title3",
          "label": "Title Section #3"
        }, 
        {
          "type": "text",
          "id": "section_subtitle3",
          "label": "Subtitle Section #3"
        }, 
        {
          "type": "textarea",
          "id": "section_info3",
          "label": "Section Info #3"
        }, 
        {
          "type": "image_picker",
          "id": "section_image3",
          "label": "Section Image #3"
        }
  ]
  
}

{% endschema %}
