<style>
  .footer {
    background: {{ section.settings.color_footer_bg }};
  }

  .footer__menu a {
    color: {{ section.settings.color_footer_menu_link }};
  }

  .footer__menu-title, .footer__social-title {
    color: {{ section.settings.color_footer_menu_title }};
  }

  .footer__address {
    color: {{ section.settings.color_footer_text }};
  }
</style>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          {% for block in section.blocks %}
            {%- assign footer_linklist = block.settings.menu -%}
            <div class="col-md-4">
              <div class="footer__menu footer-fade-in">
                <span class="footer__menu-title">{{ block.settings.title }}</span>
                <ul>
                  {% for link in linklists[footer_linklist].links %}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {% endfor %}       
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-fade-in">
          <div class="footer__social-title">Follow Us</div>
          <ul class="footer__social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a href="{{ settings.social_facebook_link }}">
                  <i aria-hidden="true" class="fa fa-facebook"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a href="{{ settings.social_instagram_link }}">
                  <i aria-hidden="true" class="fa fa-instagram"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.social_google_link != blank %}
              <li>
                <a href="{{ settings.social_google_link }}">
                  <i aria-hidden="true" class="fa fa-google"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a href="{{ settings.social_twitter_link }}">
                  <i aria-hidden="true" class="fa fa-twitter"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a href="{{ settings.social_youtube_link }}">
                  <i aria-hidden="true" class="fa fa-youtube"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a href="{{ settings.social_pinterest_link }}">
                  <i aria-hidden="true" class="fa fa-pinterest"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr/>
        <span class="footer__address footer-fade-in">{{ section.settings.footer_bottom_text }}</span>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "da": "Farve",
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fi": "Väri",
        "fr": "Couleur",
        "hi": "रंग",
        "it": "Colore",
        "ja": "色",
        "ko": "색상",
        "nb": "Farge",
        "nl": "Kleur",
        "pt-BR": "Cor",
        "pt-PT": "Cor",
        "sv": "Färg",
        "th": "สี",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Background",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#1b1b1b"
    },
    {
      "type": "color",
      "id": "color_footer_menu_title",
      "label": "Footer Menu Title",
      "default": "#ffff00"
    },
    {
      "type": "color",
      "id": "color_footer_menu_link",
      "label": "Footer Menu Link",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": "Footer Text",
      "default": "#1b1b1b"
    },
    {
      "type": "textarea",
      "id": "footer_bottom_text",
      "label": "Text for bottom of footer",
      "default": "Storename 23 High Street, London, UK"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Hurtige links",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "hi": "त्वरित लिंक",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    }
  ]
}
{% endschema %}

