<section class="jumbo">
  {% if section.settings.bg_type == 'video' %}
    {% if section.settings.video_type == 'vimeo' %}
      <iframe allow="autoplay" class="jumbo__bg-video" frameborder="0" src="//player.vimeo.com/video/{{ section.settings.video_id }}?title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&loop=1&controls=0&autopause=0&mute=1"></iframe>
    {% else %}
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="jumbo__bg-video" frameborder="0" height="315" src="https://www.youtube.com/embed/{{ section.settings.video_id }}?autoplay=1&loop=1&mute=1&controls=0" width="560"></iframe>
    {% endif %}
  {% else %}
    <div class="jumbo__bg-image" style="background: url('{{ section.settings.bg_image | img_url: '1200x' }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
  {% endif %}
  <div class="jumbo__transparent-color"></div>
  <div class="jumbo__titles">
    <h1 class="jumbo__title">{{ section.settings.jumbo_title }}</h1>
    <h2 class="jumbo__subtitle">{{  section.settings.jumbo_subtitle }}</h2>
  </div>
  <div class="jumbo__state">
    <span class="jumbo__state__number">01</span>
  </div>
  <div class="jumbo__store-info">
    {% for block in section.blocks %}
      {% if block.settings.bottom_image != blank %}
        <a class="jumbo__store-info__link" href="{{ block.settings.bottom_image_url }}">
          <img class="jumbo__store-info__img" alt="bottom image" src="{{ block.settings.bottom_image | img_url: '300x' }}"/>
        </a>
      {% else %}
        <a class="jumbo__store-info__link" href="#">
          <img class="jumbo__store-info__img" alt="default image" src="{{ 'summer-girl.jpg' | asset_url }}"/>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}

{
  "name": "Jumbo",
  "settings": [
    {
      "type": "radio",
      "id": "bg_type",
      "label": "Background Type",
      "options": [
        {
          "value": "image",
          "label": "image"
        }, {
          "value": "video",
          "label": "video"
        }
      ],
      "default": "video",
      "info": "Do you want a Video or Image for the Background"
    }, {
      "type": "image_picker",
      "id": "bg_image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }, {
      "type": "text",
      "id": "video_id",
      "label": "Video ID",
      "default": "353546049"
    }, {
      "type": "text",
      "id": "jumbo_title",
      "label": "Jumbo Title",
      "default": "OFF WHITE"
    }, {
      "type": "text",
      "id": "jumbo_subtitle",
      "label": "Jumbo Subtitle",
      "default": "New Collection"
    }, {
      "type": "radio",
      "id": "video_type",
      "label": "Video Type",
      "options": [
        {
          "value": "youtube",
          "label": "YouTube"
        }, {
          "value": "vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "vimeo",
      "info": "Choose location where you uploaded the video"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Bottom Images",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "bottom_image",
          "label": "Image"
        }, {
          "id": "bottom_image_url",
          "type": "url",
          "label": "Image URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Jumbo",
      "category": "Image",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "bottom_image_url": "#"
          }
        }, {
          "type": "image",
          "settings": {
            "bottom_image_url": "#"
          }
        }, {
          "type": "image",
          "settings": {
            "bottom_image_url": "#"
          }
        }, {
          "type": "image",
          "settings": {
            "bottom_image_url": "#"
          }
        }
      ]
    }
  ]
}

{% endschema %}
