<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <ul class="section-bar{% if section.settings.title_enable %} section-bar--large{% endif %}">
      {% for block in section.blocks %}
        <li class="section-bar__item{% if section.settings.title_enable %} section-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="section-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {{ block.settings.image | img_url: '25x25' | img_tag: block.settings.image.alt, 'section-bar__image' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
          <div>
            {% if block.settings.title != blank %}
              <h3 class="h4 mt-3">{{ block.settings.title | escape }}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="rte-setting mt-3">{{ block.settings.text }}</div>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "Services",
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": "Service list"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Service",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "hi": "लिंक",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Kobling",
            "nl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "オプション",
            "ko": "선택 사항",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Tilføj en titel eller et slogan",
            "de": "Titel oder Text hinzufügen",
            "en": "Add a title or tagline",
            "es": "Agregar un título o eslogan",
            "fi": "Lisää otsikko tai iskulause",
            "fr": "Ajouter un titre ou un slogan",
            "hi": "एक शीर्षक या टैगलाइन जोड़ें",
            "it": "Aggiungi un titolo o una tagline",
            "ja": "タイトルまたはキャッチコピーを追加する",
            "ko": "제목 또는 슬로건 추가",
            "nb": "Legg til en tittel eller er slagord",
            "nl": "Voeg een titel of een slogan toe",
            "pt-BR": "Adicione um título ou slogan",
            "pt-PT": "Adicionar título ou slogan",
            "sv": "Lägg till en titel eller tagline",
            "th": "เพิ่มชื่อเรื่องหรือสโลแกน",
            "zh-CN": "添加标题或标语",
            "zh-TW": "新增標題或標語"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": "<p>Share service information with your customers. Use this text to describe your service.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service",
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}